html, body 
{
	margin: 0;
	padding: 0;
	font-family: Georgia;
	color: #444;
	background: #fff url('../images/background.jpg');
	background-position:center bottom;
    background-repeat:no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

h1 
{
	font-size: 20px;
	margin: 0 0 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.reg_form
{
	width: 370px;
	margin: 10% auto 0 auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
}

ul.reg_list
{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.reg_list li
{
	margin: 10px 0 10px 0;
}

.reg_title_reg
{
	display: inline-block;
	min-width: 130px;
}

.reg_title_log
{
	display: inline-block;
	min-width: 80px;
}

.block
{
	margin-top: 10%;
}

input.reg_input
{
	width: 230px;
	border: none;
	border-bottom: 1px solid #000000;
	font-size: 16px;
	background: rgba(255, 255, 255, 0);
}

input.reg_input_log
{
	width: 270px;
	border: none;
	border-bottom: 1px solid #000000;
	font-size: 16px;
	background: rgba(255, 255, 255, 0);
}

input.reg_input:focus
{
	border-bottom: 1px solid #000000;
	outline: none;
}

.reg_select
{
	width: 230px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.8);
}

.reg_agree
{
	font-size: 12px;
}

textarea
{
	font-size: 16px;
	color: #000000;
	max-width: 330px;
	max-height: 100px;
	background: rgba(255, 255, 255, 0.8);
}

.reg_control
{
	width: 335px;
	overflow: hidden;
	margin-top: 40px;
}

line_block
{
	width: 110px;
	height: 50px;
	/*background: #ffffff;*/
	float: left;
	margin: 0 15px 15px 0;
	text-align: center;
	padding: 10px;
}

.description
{
	font-family: Georgia;
	width: 100%;
    height: 200px;
	resize: none;
}

.quit
{
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}
