{% extends 'author.html' %}

{% block title_name %}А. А. Блок{% endblock %}

{% block name %}Александр Александрович Блок{% endblock %}

{% block portrait %}<img src="..\static\images\blok.jpeg" height="400" title="Александр Александрович Блок" border="solid 1px black">{% endblock %}

{% block bio %}
Александр Алекасндрович Блок (16 (28) ноября 1880, Санкт-Петербург, Российская империя — 7 августа 1921, Петроград, РСФСР) — русский поэт, писатель, публицист,
драматург, переводчик, литературный критик. Классик русской литературы XX столетия, один из крупнейших представителей русского символизма.
{% endblock %}

{% block wiki %}<a href="https://ru.wikipedia.org/wiki/Блок,_Александр_Александрович" target="_blank">Подробнее...</a> {% endblock %}

{% block col1 %}
	<div class="poems_inner">
		<div id="1.1">
			<h3 align="center">В ресторане</h3>
			<br>Никогда не забуду (он был, или не был,
            <br>Этот вечер): пожаром зари
            <br>Сожжено и раздвинуто бледное небо,
            <br>И на жёлтой заре — фонари.
            <br>
            <br>Я сидел у окна в переполненном зале.
            <br>Где-то пели смычки о любви.
            <br>Я послал тебе чёрную розу в бокале
            <br>Золотого, как нёбо, аи.
            <br>
            <br>Ты взглянула. Я встретил смущённо и дерзко
            <br>Взор надменный и отдал поклон.
            <br>Обратясь к кавалеру, намеренно резко
            <br>Ты сказала: «И этот влюблён».
            <br>
            <br>И сейчас же в ответ что-то грянули струны,
            <br>Исступлённо запели смычки…
            <br>Но была ты со мной всем презрением юным,
            <br>Чуть заметным дрожаньем руки…
            <br>
            <br>Ты рванулась движеньем испуганной птицы,
            <br>Ты прошла, словно сон мой легка…
            <br>И вздохнули духи, задремали ресницы,
            <br>Зашептались тревожно шелка.
            <br>
            <br>Но из глуби зеркал ты мне взоры бросала
            <br>И, бросая, кричала: «Лови!..»
            <br>А монисто бренчало, цыганка плясала
            <br>И визжала заре о любви.
		</div>
	</div>
{% endblock %}

{% block col2 %}
	<div class="poems_inner">
		<div id="2.1">
			<h3 align="center">Одной тебе, тебе одной</h3>
			<br>Одной тебе, тебе одной,
            <br>Любви и счастия царице,
            <br>Тебе прекрасной, молодой
            <br>Все жизни лучшие страницы!
            <br>
            <br>Ни верный друг, ни брат, ни мать
            <br>Не знают друга, брата, сына,
            <br>Одна лишь можешь ты понять
            <br>Души неясную кручину.
            <br>
            <br>Ты, ты одна, о, страсть моя,
            <br>Моя любовь, моя царица!
            <br>Во тьме ночной душа твоя
            <br>Блестит, как дальняя зарница.
		</div>
	</div>
{% endblock %}

{% block col3 %}
	<div class="poems_inner">
		<div id="3.1">
			<h3 align="center">Когда замрут отчаянье и злоба</h3>
			<br>Когда замрут отчаянье и злоба,
            <br>Нисходит сон. И крепко спим мы оба
            <br>На разных полюсах земли.
            <br>
            <br>Ты обо мне, быть может, грезишь в эти
            <br>Часы. Идут часы походкою столетий,
            <br>И сны встают в земной дали.
            <br>
            <br>И вижу в снах твой образ, твой прекрасный,
            <br>Каким он был до ночи злой и страстной,
            <br>Каким являлся мне. Смотри:
            <br>
            <br>Всё та же ты, какой цвела когда-то,
            <br>Там, над горой туманной и зубчатой,
            <br>В лучах немеркнущей зари.
		</div>
	</div>
{% endblock %}