{% extends 'author.html' %}

{% block title_name %}С. А. Есенин{% endblock %}

{% block name %}Сергей Александрович Есенин{% endblock %}

{% block portrait %}<img src="..\static\images\Esenin.jpg" height="400" title="Александр Сергеевич Пушкин" border="solid 1px black">{% endblock %}

{% block bio %}
Сергей Александрович Есенин (3 октября 1895, Константиново, Рязанский уезд, Рязанская губерния, Российская империя — 28 декабря 1925, Англетер, Ленинград, СССР)
— русский поэт, представитель новокрестьянской поэзии и лирики, а в более позднем периоде творчества — имажинизма.
В разные периоды творчества в его стихотворениях находили отражение социал-демократические идеи, образы революции и Родины, деревни и природы, любви и поиска счастья.
{% endblock %}

{% block wiki %}<a href="https://ru.wikipedia.org/wiki/Есенин,_Сергей_Александрович" target="_blank">Подробнее...</a> {% endblock %}


{% block col1 %}
	<div class="poems_inner">
		<div id="1.1">
			<h3 align="center">Я покинул родимый дом</h3>
			<br>Я покинул родимый дом,
			<br>Голубую оставил Русь.
			<br>В три звезды березняк над прудом
			<br>Теплит матери старой грусть.
			<br>
			<br>Золотою лягушкой луна
			<br>Распласталась на тихой воде.
			<br>Словно яблонный цвет, седина
			<br>У отца пролилась в бороде.
			<br>
			<br>Я не скоро, не скоро вернусь!
			<br>Долго петь и звенеть пурге.
			<br>Стережет голубую Русь
			<br>Старый клен на одной ноге.
			<br>
			<br>И я знаю, есть радость в нем
			<br>Тем, кто листьев целует дождь,
			<br>Оттого, что тот старый клен
			<br>Головой на меня похож.
		</div>
	</div>
{% endblock %}

{% block col2 %}
	<div class="poems_inner">
		<div id="2.1">
			<h3 align="center">Разбуди меня завтра рано</h3>
			<br>Разбуди меня завтра рано,
			<br>О моя терпеливая мать!
			<br>Я пойду за дорожным курганом
			<br>Дорогого гостя встречать.
			<br>
			<br>Я сегодня увидел в пуще
			<br>След широких колес на лугу.
			<br>Треплет ветер под облачной кущей
			<br>Золотую его дугу.
			<br>
			<br>На рассвете он завтра промчится,
			<br>Шапку-месяц пригнув под кустом,
			<br>И игриво взмахнет кобылица
			<br>Над равниною красным хвостом.
			<br>
			<br>Разбуди меня завтра рано,
			<br>Засвети в нашей горнице свет.
			<br>Говорят, что я скоро стану
			<br>Знаменитый русский поэт.
			<br>
			<br>Воспою я тебя и гостя,
			<br>Нашу печь, петуха и кров…
			<br>И на песни мои прольется
			<br>Молоко твоих рыжих коров.
		</div>
	</div>
{% endblock %}