{% extends "base.html" %}

{% block title_name %}{{ title }}{% endblock %}

{% block content %}
	<div style="text-align: center;">
		<img src="../static/images/home_picture.jpg" style="max-width: 600px; border: 1px solid black; margin-top: 20px">
	</div>
	<div style="padding: 100px; padding-top: 50px;">
	<p>На нашем сайте Вы с легкостью можете найти и почитать произведение как отечественных, так и зарубежных поэтов-классиков.
		С помощью магии слов великие творцы старались передать все чувства, которые может испытывать каждый человек на Земле: любовь,
		счастье, радость, страх, боль. Все они крутятся в неведомом водовороте, в который может окунуться читатель. Каким бы ни было ваше
		настроение и душевное состояние, на сайте Вы всегда найдете то, что придется Вам по вкусу именно в данный момент: будь то
		любовь и страсть, что накаляется между лирическими героями, или не взаимные чувства, которые могли возникать у многих из нас. </p>
	</div>
{% endblock %}