<div class="content">
	<div style="text-align: center">
		<h1 class="title">Александр Сергеевич Пушкин</h1>
		<div class="picture">
            <img src="..\static\images\Ezo5vKbWUAQv07m.png" height="400" title="Александр Сергеевич Пушкин" border="solid 1px black">
		</div>
	</div>

	<div class="biography">
		<h3 style="margin-bottom: 20px">Краткая биография</h3>
		<p>
Александр Сергеевич Пушкин (1799-1837 гг.) – великий русский поэт, прозаик, драматург. Автор бессмертных произведений в стихах и прозе: романов “Евгений Онегин”,
“Дубровский”, известных поэм “Руслан и Людмила”, “Кавказский пленник”, повести “Пиковая дама” и многих других, а также сказок для детей.
</p>
		<br>
		<p> <a href="https://ru.wikipedia.org/wiki/Пушкин,_Александр_Сергеевич" target="_blank">Подробнее...</a>  </p>
	</div>

	<hr>
	<div class="poems_outer">

	<div class="poems_inner">
		<div id="1.1">
			<h3 align="center">Я помню чудное мгновенье</h3>
			<br>Я помню чудное мгновенье:
			<br>Передо мной явилась ты,
			<br>Как мимолетное виденье,
			<br>Как гений чистой красоты.
			<br>
			<br>В томленьях грусти безнадежной,
			<br>В тревогах шумной суеты,
			<br>Звучал мне долго голос нежный
			<br>И снились милые черты.
			<br>
			<br>Шли годы. Бурь порыв мятежный
			<br>Рассеял прежние мечты,
			<br>И я забыл твой голос нежный,
			<br>Твои небесные черты.
			<br>
			<br>В глуши, во мраке заточенья
			<br>Тянулись тихо дни мои
			<br>Без божества, без вдохновенья,
			<br>Без слез, без жизни, без любви.
			<br>
			<br>Душе настало пробужденье:
			<br>И вот опять явилась ты,
			<br>Как мимолетное виденье,
			<br>Как гений чистой красоты.
			<br>
			<br>И сердце бьется в упоенье,
			<br>И для него воскресли вновь
			<br>И божество, и вдохновенье,
			<br>И жизнь, и слезы, и любовь.
		</div>

		<div id="1.2">
			<h3 align="center">Мороз и солнце</h3>
			<br>Мороз и солнце; день чудесный!
			<br>Еще ты дремлешь, друг прелестный —
			<br>Пора, красавица, проснись:
			<br>Открой сомкнуты негой взоры
			<br>Навстречу северной Авроры,
			<br>Звездою севера явись!
			<br>Открой сомкнуты негой взоры
			<br>Навстречу северной Авроры,
			<br>Звездою севера явись!
			<br>Открой сомкнуты негой взоры
			<br>Навстречу северной Авроры,
			<br>Звездою севера явись!
		</div>
	</div>


	<div class="poems_inner">
		<div id="2.1">
			<h3 align="center">Прощай, письмо любви!</h3>
			<br>Прощай, письмо любви! прощай: она велела.
			<br>Как долго медлил я! как долго не хотела
			<br>Рука предать огню все радости мои!..
			<br>Но полно, час настал. Гори, письмо любви.
			<br>Готов я; ничему душа моя не внемлет.
			<br>Уж пламя жадное листы твои приемлет…
			<br>Минуту!.. вспыхнули! пылают — легкий дым
			<br>Виясь, теряется с молением моим.
			<br>Уж перстня верного утратя впечатленье,
			<br>Растопленный сургуч кипит… О провиденье!
			<br>Свершилось! Темные свернулися листы;
			<br>На легком пепле их заветные черты
			<br>Белеют… Грудь моя стеснилась. Пепел милый,
			<br>Отрада бедная в судьбе моей унылой,
			<br>Останься век со мной на горестной груди…
		</div>

		<div id="2.2">
			<h3 align="center">Талисман</h3>
			<br>Там, где море вечно плещет
			<br>На пустынные скалы,
			<br>Где луна теплее блещет
			<br>В сладкий час вечерней мглы,
			<br>Где, в гаремах наслаждаясь,
			<br>Дни проводит мусульман,
			<br>Там волшебница, ласкаясь,
			<br>Мне вручила талисман.
			<br>
			<br>И, ласкаясь, говорила:
			<br>«Сохрани мой талисман:
			<br>В нем таинственная сила!
			<br>Он тебе любовью дан.
			<br>От недуга, от могилы,
			<br>В бурю, в грозный ураган,
			<br>Головы твоей, мой милый,
			<br>Не спасет мой талисман.
			<br>
			<br>И богатствами Востока
			<br>Он тебя не одарит,
			<br>И поклонников пророка
			<br>Он тебе не покорит;
			<br>И тебя на лоно друга,
			<br>От печальных чуждых стран,
			<br>В край родной на север с юга
			<br>Не умчит мой талисман…
			<br>
			<br>Но когда коварны очи
			<br>Очаруют вдруг тебя,
			<br>Иль уста во мраке ночи
			<br>Поцелуют не любя —
			<br>Милый друг! от преступленья,
			<br>От сердечных новых ран,
			<br>От измены, от забвенья
			<br>Сохранит мой талисман!»
		</div>
	</div>


	<div class="poems_inner">
		<div id="3.1">
			<h3 align="center">Письмо Татьяны к Онегину</h3>
			<br>Я к вам пишу – чего же боле?
			<br>Что я могу еще сказать?
			<br>Теперь, я знаю, в вашей воле
			<br>Меня презреньем наказать.
			<br>Но вы, к моей несчастной доле
			<br>Хоть каплю жалости храня,
			<br>Вы не оставите меня.
			<br>Сначала я молчать хотела;
			<br>Поверьте: моего стыда
			<br>Вы не узнали б никогда,
			<br>Когда б надежду я имела
			<br>Хоть редко, хоть в неделю раз
			<br>В деревне нашей видеть вас,
			<br>Чтоб только слышать ваши речи,
			<br>Вам слово молвить, и потом
			<br>Все думать, думать об одном
			<br>И день и ночь до новой встречи.
			<br>Но, говорят, вы нелюдим;
			<br>В глуши, в деревне всё вам скучно,
			<br>А мы… ничем мы не блестим,
			<br>Хоть вам и рады простодушно.
			<br>
			<br>Зачем вы посетили нас?
			<br>В глуши забытого селенья
			<br>Я никогда не знала б вас,
			<br>Не знала б горького мученья.
			<br>Души неопытной волненья
			<br>Смирив со временем (как знать?),
			<br>По сердцу я нашла бы друга,
			<br>Была бы верная супруга
			<br>И добродетельная мать.
			<br>
			<br>Другой!.. Нет, никому на свете
			<br>Не отдала бы сердца я!
			<br>То в вышнем суждено совете…
			<br>То воля неба: я твоя;
			<br>Вся жизнь моя была залогом
			<br>Свиданья верного с тобой;
			<br>Я знаю, ты мне послан богом,
			<br>До гроба ты хранитель мой…
			<br>Ты в сновиденьях мне являлся,
			<br>Незримый, ты мне был уж мил,
			<br>Твой чудный взгляд меня томил,
			<br>В душе твой голос раздавался
			<br>Давно… нет, это был не сон!
			<br>Ты чуть вошел, я вмиг узнала,
			<br>Вся обомлела, запылала
			<br>И в мыслях молвила: вот он!
			<br>Не правда ль? Я тебя слыхала:
			<br>Ты говорил со мной в тиши,
			<br>Когда я бедным помогала
			<br>Или молитвой услаждала
			<br>Тоску волнуемой души?
			<br>И в это самое мгновенье
			<br>Не ты ли, милое виденье,
			<br>В прозрачной темноте мелькнул,
			<br>Приникнул тихо к изголовью?
			<br>Не ты ль, с отрадой и любовью,
			<br>Слова надежды мне шепнул?
			<br>Кто ты, мой ангел ли хранитель,
			<br>Или коварный искуситель:
			<br>Мои сомненья разреши.
			<br>Быть может, это все пустое,
			<br>Обман неопытной души!
			<br>И суждено совсем иное…
			<br>Но так и быть! Судьбу мою
			<br>Отныне я тебе вручаю,
			<br>Перед тобою слезы лью,
			<br>Твоей защиты умоляю…
			<br>Вообрази: я здесь одна,
			<br>Никто меня не понимает,
			<br>Рассудок мой изнемогает,
			<br>И молча гибнуть я должна.
			<br>Я жду тебя: единым взором
			<br>Надежды сердца оживи
			<br>Иль сон тяжелый перерви,
			<br>Увы, заслуженным укором!
			<br>
			<br>Кончаю! Страшно перечесть…
			<br>Стыдом и страхом замираю…
			<br>Но мне порукой ваша честь,
			<br>И смело ей себя вверяю…
		</div>
	</div>

	</div>
</div>